*{
    font-family:  "Open Sans", Arial, Helvetica, sans-serif;;
}
.container{
    height: 100vh;
    width: 100wh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.sec-titulo{
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 2rem;
    color: rgb(141, 29, 29);
}
.sec-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.container-cafe{
    background-color: red;
    width: 35%;
}

.imagem-principal{
    height: 50%;
    background-color: lightgreen;
}

.imagem-principal img{
    height: 100%;
    width: 100%;
}

.coffe-menu{
    height: 50%;
    display: flex;
    justify-content: center;

}


.tabela-coffe{
    height: 100%;
    width: 100%;
}

thead{
    background-color: rgb(131, 128, 128);
}

tr:nth-child(even){
    background-color: lightgrey;
}

tbody tr:nth-child(odd){
    background-color: rgb(252, 252, 252);
}

td, th{
    padding: 1rem;
    padding-left: 1rem;
    text-align: start;
    vertical-align: middle;
}

.tea-menu{
    height: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}
.special-items{
    height: 55%;
    padding: 0.5rem;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about{
    height: 40%;
    background-color: coral;
}

.talk{
    height: 20%;
    background-color: lightgoldenrodyellow;
}

.container-coffe{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-tea{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tabela-tea{
    height: 100%;
    width: 100%;
    background-color: rgb(150, 133, 133);
}

.special-container{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sp{
    margin-top: 1.5rem;
    background-color: blue;
    text-align: center;
    height: 60%;
    width: 40%;
}


.sp img{
    height: 70%;
    width: 90%;
}

.sp p{
    font-size: 1.3em;
    margin: 0.8rem;
}

.linha{
    background-color: rgb(160, 151, 151);
    width: 60%;
    height: 2px;
}

/*------- CSS ABOUT ------- */

.container-about div{
    background-color: red;
}

/*--------------------------*/



