*{
    font-family:  "Open Sans", Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;

}

a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
}

.logo i{
    color: white;
    font-size: 2rem;
}

.logo p{
    color: white;
    font-size: 2rem;
    margin-left: 1rem
}

.container{
    width: 100wh;
    background-color: #3a4a58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-titulo{
    text-align: center;
    font-size: 1.6em;
    margin: 2rem;
    color: rgb(143 83 27);;
}
.sec-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.container-cafe{
    width: 34%;
    height: 100%;
    background-color: white;
}

.imagem-principal{
    height: 25rem;
}

.imagem-principal img{
    height: 100%;
    width: 100%;
}

.coffe-menu{
    height: 30rem;
    display: flex;
    justify-content: center;

}


.tabela-coffe{
    height: 85%;
    width: 100%;
}

thead{
    background-color: rgb(187, 180, 180);
}

tr:nth-child(even){
    background-color: rgb(224, 224, 224);
}

tbody tr:nth-child(odd){
    background-color: rgb(252, 252, 252);
}

td, th{
    color: #898989;
    padding: 0.8rem;
    text-align: start;
    vertical-align: middle;
}
th{
    color: rgb(44, 44, 44);
    padding: 1rem;
}

.tea-menu{
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.special-items{
    height: 25rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about{
    height: 20rem;
}

.container-about{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-about p{
    padding: 1rem 4.2rem;
    text-align: start;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #898989;
}
.talk{
    height: 15rem;
}

.container-coffe{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-tea{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tabela-tea{
    height: 85%;
    width: 100%;
    background-color: rgb(150, 133, 133);
}

.special-container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagens{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sp{
    margin-top: 1.5rem;
    text-align: center;
    height: 75%;
    width: 40%;
}


.sp img{
    height: 80%;
    width: 90%;
}

.sp p{
    font-size: 1.3em;
    margin: 0.8rem;
}

.linha{
    background-color: rgb(160, 151, 151);
    width: 60%;
    height: 2px;
}


.container-talk{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    
}


.texto-talk{
    height: 1rem;
    margin-bottom: 3rem;
}

.texto-talk p{
    font-size: 1.1rem;
    color: #898989;
    
}

i{
    font-size: 6rem;
    padding: 3px;
}
#icon{
    color:#bbbbbb;
    font-size: 3rem;
    padding-bottom: 2rem;
}

#icon:hover{
    transition: 0.2s;
    color:#d3d3d3;
}


.copy{
    margin: 2.5rem;
    width: 35%;
    text-align: center;
    font-size: 0.85rem;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .container-cafe {
        width: 60%;

    }
  }

@media only screen and (max-width: 768px) {
    .container-cafe {
        width: 90%;

    }
  }

@media only screen and (max-width: 425px) {
    .container-cafe {
        width: 100%;
    }

    .special-items {
        flex-direction: column;
    }

    .special-items {
        height: auto;
    }

    .imagens {
        flex-direction: column;
    }

    .sp {
        width: 100%;
    }

  }





